name: Test fastwalk on Linux 386 (32-bit)
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.24.x'
      - name: Test 386
        run: |
          GOARCH=386 go env
          GOARCH=386 go test
